<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" parallel = "method" thread-count = "4">
    <test name="API Tests">
        <classes>
            <class name="com.chukwuma.automation.tests.api.AuthApiTest"/>
            <class name="com.chukwuma.automation.tests.api.BookingApiTest"/>
            <class name="com.chukwuma.automation.tests.api.RoomsApiTest"/>
            <class name="com.chukwuma.automation.tests.api.SendMessageApiTest"/>
            <class name="com.chukwuma.automation.tests.integration.runners.BookingIntegrationTest"/>
        </classes>
    </test>
    <test name="UI Tests">
        <classes>
            <class name="com.chukwuma.automation.tests.ui.UITest"/>
        </classes>
    </test>
</suite>